name: Selenium-Stage

on:
  workflow_dispatch:
  push:

jobs:
  run-selenium-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build & Run Tests
      run: mvn clean test
      working-directory: Selenium   # <-- Change if needed

    - name: Upload Reports
      uses: actions/upload-artifact@v3
      with:
        name: selenium-reports
        path: |
          Selenium/target/surefire-reports/*.html
          Selenium/target/surefire-reports/*.xml
          Selenium/screenshots/*.png
