name: Selenium-Stage

on:
  workflow_dispatch:
  push:

jobs:
  run-selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build & Run Tests
        run: mvn clean test
        working-directory: <PUT_CORRECT_FOLDER_HERE>

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: selenium-reports
          path: |
            <PUT_CORRECT_FOLDER_HERE>/target/surefire-reports/*.html
            <PUT_CORRECT_FOLDER_HERE>/target/surefire-reports/*.xml
            <PUT_CORRECT_FOLDER_HERE>/reports/*.png
